<yandex>
    <!-- Configuration file for ClickHouse -->
    <logger>
        <level>trace</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
    </logger>

    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>

    <path>/var/lib/clickhouse/</path>
    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
    <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>

    <!-- Network Configuration -->
    <listen_host>::</listen_host>

    <!-- Extra Configuration -->
    <listen_try>0.0.0.0</listen_try>
    <listen_try>127.0.0.1</listen_try>

    <compression>
        <case>
            <min_part_size>10000000000</min_part_size>
            <min_part_size_ratio>0.01</min_part_size_ratio>
        </case>
    </compression>

    <zookeeper>
        <node index="1">
            <host>localhost</host>
            <port>2181</port>
        </node>
    </zookeeper>
</yandex>
